footer{
    height:100px;
    display:flex;
    justify-content: flex-end;
    nav{
        bottom:0;
        display:inline-flex;
        margin-right:2%;
        margin-top:3%;
        a{
            color:$fontColor;
            margin-right:5%;
        }
        p{
            color:$fontColor;
            margin:0;
            width:210px;
        }
    }
    @media screen & (max-width:700px){
        footer{
            flex-direction:column;
        }
    }
}