header{
    display:flex;
    justify-content: space-between;
    #logo{
        width:60px;
        height:auto;
        margin-top:32px;
        margin-left:42px;
        animation: bounceIn 4s ease-in-out;
        @keyframes bounceIn {
            0% {
              transform: scale(0.1);
              opacity: 0;
            }
            60% {
              transform: scale(1.2);
              opacity: 1;
            }
            100% {
              transform: scale(1);
            }
          }
    }
    #mobile-menu{
        display:none;
    }
    nav{
        justify-content: space-between;
        width:350px;
        font-size:14px;
        margin-top:32px;
        margin-right:20px;
        
        a{
            list-style-type: none;
            color:$fontColor;
            text-decoration: none;
            padding:3%;
            &:hover{
                background-color: $bgColor;
                border-radius:8px;
            }
        }
        
    }

/*    @media only screen & (max-width:700px){
        #mobile-menu{
            display:block;
        }
        
    .row .three{
        padding: 80px 30px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        color: $fontColor;
        text-align: center;
    }
  
    .hamburger .line{
        width: 50px;
        height: 5px;
        background-color:$fontColor;
        display: block;
        margin: 8px auto;
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    
    .hamburger:hover{
        cursor: pointer;
    }
    
    #hamburger.is-active{
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        -webkit-transition-delay: 0.4s;
        -o-transition-delay: 0.4s;
        transition-delay: 0.4s;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    
    #hamburger.is-active .line:nth-child(2){
        width: 0px;
    }
    
        #hamburger.is-active .line:nth-child(1),
        #hamburger.is-active .line:nth-child(3){
            -webkit-transition-delay: 0.2s;
            -o-transition-delay: 0.2s;
            transition-delay: 0.2s;
        }
        
        #hamburger.is-active .line:nth-child(1){
            -webkit-transform: translateY(13px);
            -ms-transform: translateY(13px);
            -o-transform: translateY(13px);
            transform: translateY(13px);
        }
        
        #hamburger.is-active .line:nth-child(3){
            -webkit-transform: translateY(-13px) rotate(90deg);
            -ms-transform: translateY(-13px) rotate(90deg);
            -o-transform: translateY(-13px) rotate(90deg);
            transform: translateY(-13px) rotate(90deg);
        }
        
        
    #mobile-menu {
      width:100%;
      float: right;
      cursor: pointer;
      display: block;
      text-indent: 200%;
      white-space: nowrap;
      overflow: hidden; 
    }
    
    nav{
      clear: both;
      height: 0;
      width:50%;
      -webkit-transition: height 0.3s ease;
      transition: height 0.3s ease;                                    
      overflow: hidden;
      width:20%;
      margin:0 auto;
      a {
        float: none;
        width: 100%;
        display: block;
        border-left: none;
        border-bottom: 1px solid #024109;
        line-height:65px;
        color: black;
        padding-top: 1px; 
        text-decoration:none;
        font-size:1.4rem;
        font-weight:bold;
        text-align:center;
      }
    }

  
    .show-mobile-menu .nav-main {
      height: 201px;  
    }
    }*/
}