//fonts
$fontHead: 'Poppins', sans-serif;
$fontNav: 'Poppins', sans-serif;
$fontbody: 'Poppins', sans-serif;


//colors
$videoColor: #1F0062;
$backgroundGradient: linear-gradient(180deg, rgba(51, 10, 139, 0.6) 0%, #330A8B 50%);


//media query breakpoint
$large: 970px;
$medium: 700px;
$small: 560px;
$mobile: 400px;

// Media Query desktop
$desktop: "only screen and (min-width: 971px)";