@charset "utf-8";
/* CSS Document */

// SASS imports go here...
@import "_variables";
@import "_register";
@import "_benefits";
@import "_video";
@import "_press";
@import "_cta-bar";
@import "_header";
@import "_footer";


$fontBody: 'Poppins', sans-serif;

body{
    font-family: $fontBody;
    background-image: $backgroundGradient;
    margin:0;
}
html{
    background-image: url(/images/background.svg);
    width:100%;
    background-repeat: no-repeat;
    height:50%; 
}
/*@media screen & (max-width:700px){
    html{
        background-image:none;
    }
}*/
